.dailyBody{
    /*Makes full width*/
    position: absolute;
    position: static;
    display:grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    width:100%;
    height:100%;
}

.dayContainer {
    height:100%;
    /* border-left: 3px solid #5c7598; */
    
}

.dailyBody__yesterday{
    border-right: 5px solid #5c7598;
}

.dailyBody__tomorrow{
    
    border-right: 5px solid #5c7598;
}




.dayContainer__header {
    /*Moves the background color all the way up*/
    position:relative;
    display: inline-block;
    width:100%;
    margin:0;
    color:#5c7598;
    background-color: #c2c4b6;
}

.dailyBody__today__header{
    color: #985c75;
}

.bulletContainer__bullet{
    display:inline;
}
.bulletContainer__delete{
    border: 0; /* Fixes an error of the delete not lining up*/
    float:right;
}

.dailyBulletAdd{
    display:flex; /*extends input all the way right*/
}
.dailyBulletAdd__input{
    flex: 1; /*extends input all the way right*/
}

.dailyBulletAdd__button{
    float: right;
}