.future-container {
    position: static ;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;  
    top:10%;
    width:100%;
    padding:0;
    margin:0;
    
}
.month-container {
    background-color: hsl(215, 21%, 80%); 
    color:hsl(215, 25%, 40%);
    position: relative;
    display: inline-block;
    width:80%;
    border: 5px solid #5c7598;
    margin:20px;
    padding-bottom:50px;
    /* grid-column:1; */
}
.monthContainer__header{
    margin:0;
    padding:0;
    text-align: center;
}

.month-container-form{
    display:flex;
}

.month-container-form input{
    position: relative;
    display: inline;
    flex:1;
}

.bullet-value {
    display:block;
}

.dayContainer__bulletContainer{
    /* display:flex; */
    
    /* border: 1px solid #5c7598; */
}

.bulletContainer__delete{
    color:red;
    float:right;
    border:0;
}
/* #testdf {
    border:5px solid red;
    
} */
/* .month-container-form button {
    width:10%
} */
/* .test {
    position: relative;
    display: inline-block;
} */