.monthlyCalendarBody {
    position: static;
    display:grid;
    grid-template-columns: 1fr 1fr;  
    width:100%;
    height:100%;
    color:#5c7598;
    /* border: 5px solid yellow; */
}

.monthlyHeader{
    position: relative;
    color:#5c7598;
    text-align: center;
}

/*Monthly Calendar CSS*/
.monthlyCalendar{
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 5px solid #5c7598;
    /* border: 5px solid blue; */
}

.monthlyCalendar__editButton{
    display:inline;
}

.editCalenderBullet {
    display:inline;
}

/*Monthly Tasks CSS*/
.monthlyTaskInput {
    width: 100%
}
.monthlyTaskAdd__input{
    position:relative;
    width:78%
}
.monthlyTaskTasks__bullet{
    display:inline;
}
.monthlyTaskTasks__deleteButton{
    display: inline;
}