.sidebar {
    background-color:  	#abb7c8;
    position:relative;
    display:inline-block;
    left:0;
    top:0;
    bottom:0;
    height:100vh;
    width:10%;
    /* border: 5px solid red; */
    grid-column-start:1;
    grid-column-end: 3;
}
.sidebar-logo {
    color:#5c7598;
    font-size:32px;
    position:relative;
    display: block;
    align-items:center;
    text-align: center;
    /* border: 5px solid green; */
}

.sidebar-links {
    /* border: 5px solid red; */
    text-align:center;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0;
}

.sidebar-links {
  /* border: 5px solid red; */
  text-align:center;
  list-style: none;
  text-decoration: none;
  margin:0;
  padding:0;
}
.sidebar-links a{
  /* border: 5px solid red; */
  text-decoration: none;
}
     /* list-style:none;
     padding:100px 20px;
     li{
       margin-bottom:30px;
       text-align:left;
       span{
         position:absolute;
         left:50px;
       }
         a{
           text-decoration:none;
           color: #000;
           }
        }
   } */
