/* body {
  border: 5px solid red;
} */

html {
  background: grey;
  /* display:grid; */
}

/* body {
  grid-template-columns: 1fr 1fr 1fr;
} */

.app-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.main-body{
  background-color: grey;
  position:absolute; /*Moves it all the way up*/
  display:inline-block;
  /* grid-template-columns: 1fr 1fr; */
  /* left:10%; */
  color:pink;
  border: 5px solid orange;
  grid-column:2;
  width:88%;
  height:100%;
}


