/* body {
  border: 5px solid red;
} */

html {
  background: #abb7c8;
  /* display:grid; */
}

/* body {
  grid-template-columns: 1fr 1fr 1fr;
} */

.app-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.main-body{
  background-color: #abb7c8;
  position:absolute; /*Moves it all the way up*/
  display:inline-block;
  /* grid-template-columns: 1fr 1fr; */
  /* left:10%; */
  color:#dadadb;
  border: 5px solid #5c7598;
  grid-column:2;
  width:88%;
  height:100%;
}

.globalSymbol{
  color:black;
  position:relative;
  font-size:25px;
  padding:0;
  margin:0;
  border:0;
  line-height: 12px;
  margin-right: 20px; 
  
}
.globalContent{
  color:black;
}